.title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
    color: rgb(43, 14, 41);
    margin-bottom: 10px;
}

.list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.item {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}